<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Updated Successfully</title>
</head>
<body>
<h1 align="CENTER">  Successfully Updated Data For Registratin Number {{reg}} </h1>
<div align="Center">
    <form action=""  >
      {% csrf_token %}
         <a href="{{'update'}}">
            <input type="button" value = "Update Another">
        </a>
         <a href="{{ 'to_add'}}">
            <input type="button" value = "Add A Student">
        </a>
         <a href="{{'to_search'}}">
             <input type="button" value = "Search A Student">
        </a>
         <a href="{{'to_delete'}}">
            <input type="button" value = "Delete A Record">
        </a>
        <a href="{{ 'to_home'}}">
            <input type="button" value = "Back To Home">
        </a>


    </form>

</div>


</body>
</html>