<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>

    <h>Welcome to Home </h>
    <br> <br>
    <a href="add_member/add">
        <input type="submit" value="Add Student">
    </a>
    <br> <br>
    <a href="search_student/search">
        <input type="submit" value="Search For A Student">
    </a>
    <br> <br>
    <a href="update_student/update">
        <input type="submit" value="Update Student Data">
    </a>
    <br> <br>
    <a href="delete_student/delete">
        <input type="submit" value="Delete Student Data">
    </a>

</body>
</html>